<div class="overview-component pt-100 mt-100 page-section">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-8">
      <div class="overview-started mb-80">
        <h1>Vision AI</h1>
        <p class="mb-24">Derive insights from your images in the cloud or at the edge with AutoML Vision or use
          pre-trained Vision API
          models to detect emotion, understand text, and more.</p>
        <div class="btn-block">
          <a href="#" class="btn btn-main">Get Started</a>
        </div>
      </div>
    </div>
  </div>
  <div class="overview-cloud mb-56">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
        <h3 class="text-medium" id="overview">Industry-leading accuracy for image understanding</h3>
        <p>Google Cloud offers two computer vision products that use machine learning to help you understand your images
          with industry-leading prediction accuracy.
        </p>
      </div>
      <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>
      <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
        <img src="../../../../assets/images/overview/industry-leading-accuracy.png" alt="">
      </div>
    </div>
  </div>
  <div class="overview-vision">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h4 class="text-medium">AutoML Vision</h4>
        <p>Automate the training of your own custom machine learning models. Simply
          upload images and train custom image models with
          <a href="#" class="text-link">AutoML Vision</a>’s easy-to-use
          graphical interface; optimize your models for accuracy, latency, and size;
          and export them to your application in the cloud, or to an array
          of devices at the edge.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h4 class="text-medium">Vision API</h4>
        <p>Google Cloud’s Vision API offers powerful pre-trained machine learning models through REST and RPC APIs.
          Assign labels to images and quickly classify them into millions of predefined categories. Detect objects and
          faces, read printed and handwritten text, and build valuable metadata into your image catalog.</p>
      </div>
    </div>
  </div>
</div>
