<div class="benefits-component section-border page-section">
  <div class="component-title">
    <h2 id="benefits">Benefits</h2>
  </div>
  <div class="benefit-block">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 benefit-item">
        <div class="benefit-body">
          <div class="item-img">
            <img src="../../../../assets/images/benefits/detect-objects-automatically.png" alt="">
          </div>
          <h4>Detect objects automatically</h4>
          <p>Vision API and AutoML Vision both can detect and extract multiple objects, and provide information about
            each object including its position within the image.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 benefit-item">
        <div class="benefit-body">
          <div class="item-img">
            <img src="../../../../assets/images/benefits/gain-intelligence-at-the-edge.png" alt="">
          </div>
          <h4>Gain intelligence at the edge</h4>
          <p>Use AutoML Vision Edge to build and deploy fast, high-accuracy models to classify images at the edge, and
            trigger real-time actions based on local data. AutoML Vision Edge supports a variety of edge devices where
            resources are constrained and latency is critical. <a href="#" class="text-link">Learn more.</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 benefit-item">
        <div class="benefit-body">
          <div class="item-img">
            <img src="../../../../assets/images/benefits/reduce-purchase-friction.png" alt="">
          </div>
          <h4>Reduce purchase friction</h4>
          <p>With Vision API’s <a href="#" class="text-link">vision product search</a>, retailers can create an engaging
            mobile experience that enables
            your customers to upload a photo of an item and immediately see a list of similar items for purchase from
            you.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 benefit-item">
        <div class="benefit-body">
          <div class="item-img">
            <img src="../../../../assets/images/benefits/understand-text-and-act-on-it.png" alt="">
          </div>
          <h4>Understand text and act on it</h4>
          <p>Vision API uses OCR to <a href="#" class="text-link">detect text</a> within images in more than 50 <a
            href="#" class="text-link">languages</a> and various file types. It’s
            also part of <a href="#" class="text-link">Document Understanding AI</a>, which lets you process millions of
            documents quickly and automate
            business workflows.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 benefit-item">
        <div class="benefit-body">
          <div class="item-img">
            <img src="../../../../assets/images/benefits/detect-explicit-content.png" alt="">
          </div>
          <h4>Detect explicit content</h4>
          <p>Vision API can <a href="#" class="text-link">review your images</a> and estimate the likelihood that any
            given image includes adult content, violence, and more.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 benefit-item">
        <div class="benefit-body">
          <div class="item-img">
            <img src="../../../../assets/images/benefits/use-our-data-labeling-service.png" alt="">
          </div>
          <h4>Use our data labeling service</h4>
          <p>If you have images for AutoML Vision that aren’t yet labeled, Google has a team of people that can help you
            annotate images, videos, and text to get high-quality training data.</p>
        </div>
      </div>
    </div>
  </div>
</div>
