<div class="footer-main">
  <div class="footer-main-body">
    <div class="footer-menu-list">
      <ul class="menu-ul-parent">
        <li class="menu-li-parent">
          <h3>Why Google</h3>
          <ul class="menu-ul-child">
            <li class="menu-li-child">
              <a href="#">Choosing Google Cloud</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Trust and security</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Open Cloud</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Data center locations</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Customers and case studies</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Analyst reports</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Whitepapers</a>
            </li>
            <li class="sub-ul">
              <h3>Products and pricing</h3>
            </li>
            <li class="menu-li-child">
              <a href="#">GCP pricing</a>
            </li>
            <li class="menu-li-child">
              <a href="#">G Suite pricing</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Maps Platform pricing</a>
            </li>
            <li class="menu-li-child">
              <a href="#">See all products</a>
            </li>
          </ul>
        </li>
        <li class="menu-li-parent">
          <h3>Solutions</h3>
          <ul class="menu-ul-child">
            <li class="menu-li-child">
              <a href="#">Artificial intelligence</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Big data analytics</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Collaboration and productivity</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Continuous delivery</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Migrate workloads</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Mobile apps and sites</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Serverless computing</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Industry solutions</a>
            </li>
            <li class="menu-li-child">
              <a href="#">DevOps solutions</a>
            </li>
            <li class="menu-li-child">
              <a href="#">HR and recruiting solutions</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Marketing solutions</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Small business solutions</a>
            </li>
            <li class="menu-li-child">
              <a href="#">See all solutions</a>
            </li>
          </ul>
        </li>
        <li class="menu-li-parent">
          <h3>Resources</h3>
          <ul class="menu-ul-child">
            <li class="menu-li-child">
              <a href="#">Artificial intelligence</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Big data analytics</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Collaboration and productivity</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Continuous delivery</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Migrate workloads</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Mobile apps and sites</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Serverless computing</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Industry solutions</a>
            </li>
            <li class="menu-li-child">
              <a href="#">DevOps solutions</a>
            </li>
            <li class="menu-li-child">
              <a href="#">HR and recruiting solutions</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Marketing solutions</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Small business solutions</a>
            </li>
            <li class="menu-li-child">
              <a href="#">See all solutions</a>
            </li>
          </ul>
        </li>
        <li class="menu-li-parent">
          <h3>Engage</h3>
          <ul class="menu-ul-child">
            <li class="menu-li-child">
              <a href="#">Contact sales</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Find a Partner</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Become a Partner</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Blog</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Events</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Podcast</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Community</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Press center</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Google Cloud on Youtube</a>
            </li>
            <li class="menu-li-child">
              <a href="#">GCP on Youtube</a>
            </li>
            <li class="menu-li-child">
              <a href="#">G Suite on Youtube</a>
            </li>
            <li class="menu-li-child">
              <a href="#">Follow on Twitter</a>
            </li>
            <li class="menu-li-child">
              <a href="#">We're hiring. Join Google Cloud!</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
