<div class="training-component section-border page-section">
  <div class="component-title">
    <h2 id="training">Take courses and hands-on labs</h2>
  </div>
  <div class="card-block">
    <div class="card-item">
      <div class="card-top">
        <img src="../../../../assets/images/resources/documents-icon.svg" alt="">
      </div>
      <div class="card-body">
        <h4>Detect Labels, Faces, and Landmarks in Images with the Cloud Vision API</h4>
      </div>
      <div class="card-footer">
        <a href="#" class="btn-link">begin codelab
          <span class="material-icons icon-rotate">arrow_forward
          </span>
        </a>
      </div>
    </div>
    <div class="card-item">
      <div class="card-top">
        <img src="../../../../assets/images/resources/documents-icon.svg" alt="">
      </div>
      <div class="card-body">
        <h4>Cloud Vision API from a Kubernetes Cluster</h4>
      </div>
      <div class="card-footer">
        <a href="#" class="btn-link">begin setup
          <span class="material-icons icon-rotate">arrow_forward
          </span>
        </a>
      </div>
    </div>
    <div class="card-item">
      <div class="card-top">
        <img src="../../../../assets/images/resources/documents-icon.svg" alt="">
      </div>
      <div class="card-body">
        <h4>Classify Images and Clouds in the Cloud with AutoML Vision</h4>
      </div>
      <div class="card-footer">
        <a href="#" class="btn-link">begin qwiklab
          <span class="material-icons icon-rotate">arrow_forward
          </span>
        </a>
      </div>
    </div>
    <div class="card-item">
      <div class="card-top">
        <img src="../../../../assets/images/resources/documents-icon.svg" alt="">
      </div>
      <div class="card-body">
        <h4>Scan User-generated Content using Cloud Vision and Video Intelligence APIs</h4>
      </div>
      <div class="card-footer">
        <a href="#" class="btn-link">begin codelab
          <span class="material-icons icon-rotate">arrow_forward
          </span>
        </a>
      </div>
    </div>
    <div class="card-item">
      <div class="card-top">
        <img src="../../../../assets/images/resources/documents-icon.svg" alt="">
      </div>
      <div class="card-body">
        <h4>Using the Cloud Vision API with Ruby</h4>
      </div>
      <div class="card-footer">
        <a href="#" class="btn-link">begin codelab
          <span class="material-icons icon-rotate">arrow_forward
          </span>
        </a>
      </div>
    </div>
    <div class="card-item">
      <div class="card-top">
        <img src="../../../../assets/images/resources/documents-icon.svg" alt="">
      </div>
      <div class="card-body">
        <h4>More Google Cloud AI Courses and Hands-on Labs</h4>
      </div>
      <div class="card-footer">
        <a href="#" class="btn-link">review labs
          <span class="material-icons icon-rotate">arrow_forward
          </span>
        </a>
      </div>
    </div>
    <div class="card-item">
      <div class="card-top">
        <img src="../../../../assets/images/resources/documents-icon.svg" alt="">
      </div>
      <div class="card-body">
        <h4>Machine Learning APIs</h4>
      </div>
      <div class="card-footer">
        <a href="#" class="btn-link">begin quest
          <span class="material-icons icon-rotate">arrow_forward
          </span>
        </a>
      </div>
    </div>
    <div class="card-item">
      <div class="card-top">
        <img src="../../../../assets/images/resources/documents-icon.svg" alt="">
      </div>
      <div class="card-body">
        <h4>APIs Explorer: Qwik Start</h4>
      </div>
      <div class="card-footer">
        <a href="#" class="btn-link">begin qwiklab
          <span class="material-icons icon-rotate">arrow_forward
          </span>
        </a>
      </div>
    </div>
    <div class="card-item">
      <div class="card-top">
        <img src="../../../../assets/images/resources/documents-icon.svg" alt="">
      </div>
      <div class="card-body">
        <h4>Extract, analyze, and translate text from images with the Cloud ML APIs</h4>
      </div>
      <div class="card-footer">
        <a href="#" class="btn-link">begin qwiklab
          <span class="material-icons icon-rotate">arrow_forward
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
