<div class="get-started-component pt-80 page-section" id="getStarted">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-lg-4">
      <img class="mb-40" src="../../../../assets/images/get-started/google_cloud_48dp.png" alt="">
      <h1 class="pl-30">Get started</h1>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4 mt-80 mb-64 res-mb">
      <div class="get-started-box">
        <h4>AutoML Vision</h4>
        <p>Create a custom machine learning model for inference in the cloud or at the edge.</p>
        <a href="#" class="btn btn-main">Get Started</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4 mt-80 mb-64 res-mb">
      <div class="get-started-box">
        <h4>Vision API</h4>
        <p>Create a pre-trained machine learning model in the coding language of your choice.</p>
        <a href="#" class="btn btn-main">Get Started</a>
      </div>
    </div>
  </div>
  <div class="text-center">
    <p class="small-text">
      Products or features listed on this page are in beta. For more information on our product launch stages, see <a
      href="#" class="text-link">here</a>.
    </p>
  </div>
</div>
