<div class="resources-component section-border page-section">
  <div class="component-title">
    <h2 id="resources">Resources</h2>
  </div>
  <div class="card-block">
    <div class="card-item">
      <div class="card-top">
        <img src="../../../../assets/images/resources/documents-icon.svg" alt="">
      </div>
      <div class="card-body">
        <h4>AutoML Vision Documentation - for models in the cloud and on edge devices</h4>
      </div>
      <div class="card-footer">
        <a href="#" class="btn-link">VIEW DOCUMENTATION
          <span class="material-icons">arrow_forward
          </span>
        </a>
      </div>
    </div>
    <div class="card-item">
      <div class="card-top">
        <img src="../../../../assets/images/resources/video-icon.svg" alt="">
      </div>
      <div class="card-body">
        <h4>AI Adventures: AutoML Vision, Part 1</h4>
      </div>
      <div class="card-footer">
        <a href="#" class="btn-link">What demo
          <span class="icon-video">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="#4285f4"><path
              fill="none" d="M0 0h24v24H0V0z"></path><path
              d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"></path></svg>
          </span>
        </a>
      </div>
    </div>
    <div class="card-item">
      <div class="card-top">
        <img src="../../../../assets/images/resources/video-icon.svg" alt="">
      </div>
      <div class="card-body">
        <h4>AI Adventures: AutoML Vision, Part 2</h4>
      </div>
      <div class="card-footer">
        <a href="#" class="btn-link">What demo
          <span class="icon-video">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="#4285f4"><path
              fill="none" d="M0 0h24v24H0V0z"></path><path
              d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"></path></svg>
          </span>
        </a>
      </div>
    </div>
    <div class="card-item">
      <div class="card-top">
        <img src="../../../../assets/images/resources/documents-icon.svg" alt="">
      </div>
      <div class="card-body">
        <h4>Vision API Documentation</h4>
      </div>
      <div class="card-footer">
        <a href="#" class="btn-link">VIEW DOCUMENTATION
          <span class="material-icons">arrow_forward
          </span>
        </a>
      </div>
    </div>
    <div class="card-item">
      <div class="card-top">
        <img src="../../../../assets/images/resources/documents-icon.svg" alt="">
      </div>
      <div class="card-body">
        <h4>Vision Product Search Documentation</h4>
      </div>
      <div class="card-footer">
        <a href="#" class="btn-link">VIEW DOCUMENTATION
          <span class="material-icons">arrow_forward
          </span>
        </a>
      </div>
    </div>
    <div class="card-item">
      <div class="card-top">
        <img src="../../../../assets/images/resources/website-icon.svg" alt="">
      </div>
      <div class="card-body">
        <h4>Google Cloud Solutions for Energy</h4>
      </div>
      <div class="card-footer">
        <a href="#" class="btn-link">explore solutions
          <span class="material-icons">arrow_forward
          </span>
        </a>
      </div>
    </div>
    <div class="card-item">
      <div class="card-top">
        <img src="../../../../assets/images/resources/video-icon.svg" alt="">
      </div>
      <div class="card-body">
        <h4>Machine Learning APIs by Example</h4>
      </div>
      <div class="card-footer">
        <a href="#" class="btn-link">What demo
          <span class="icon-video">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="#4285f4"><path
              fill="none" d="M0 0h24v24H0V0z"></path><path
              d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"></path></svg>
          </span>
        </a>
      </div>
    </div>
    <div class="card-item">
      <div class="card-top">
        <img src="../../../../assets/images/resources/website-icon.svg" alt="">
      </div>
      <div class="card-body">
        <h4>Google Cloud Podcast #109: Cloud AutoML Vision</h4>
      </div>
      <div class="card-footer">
        <a href="#" class="btn-link">listen to podcast
          <span class="material-icons icon-rotate">arrow_forward
          </span>
        </a>
      </div>
    </div>
    <div class="card-item">
      <div class="card-top">
        <img src="../../../../assets/images/resources/website-icon.svg" alt="">
      </div>
      <div class="card-body">
        <h4>Google Cloud Solutions for Retail</h4>
      </div>
      <div class="card-footer">
        <a href="#" class="btn-link">explore solutions
          <span class="material-icons">arrow_forward
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
