<div class="features-component section-border page-section">
  <div class="component-title">
    <h2 id="features">Which vision product is right for you?</h2>
    <p class="component-desc">
      You can work with either one, or reap the benefits of both products by using Vision API to quickly categorize
      content using thousands of predefined labels, and using AutoML Vision to create additional custom labels to suit
      your specific needs.
    </p>
  </div>
  <div class="features-table">
    <table>
      <thead>
      <tr>
        <th></th>
        <th class="text-center">AutoML Vision</th>
        <th class="text-center">Vision API</th>
      </tr>
      </thead>
      <tbody>
      <tr class="row-sub-head">
        <th colspan="3">User interface</th>
      </tr>
      <tr>
        <td>
          <div class="text-medium">Use APIs</div>
          <div class="text-regular">Use REST and RPC APIs.</div>
        </td>
        <td class="check-mark">
          <img src="../../../../assets/images/features/checkmark.svg" alt="">
        </td>
        <td class="check-mark">
          <img src="../../../../assets/images/features/checkmark.svg" alt="">
        </td>
      </tr>
      <tr>
        <td>
          <div class="text-medium">Use a graphical UI</div>
          <div class="text-regular">Use a graphical user interface.</div>
        </td>
        <td class="check-mark">
          <img src="../../../../assets/images/features/checkmark.svg" alt="">
        </td>
        <td></td>
      </tr>
      <tr class="row-sub-head">
        <th colspan="3">Predefined or custom labeling</th>
      </tr>
      <tr>
        <td>
          <div class="text-medium">Classify images using predefined labels</div>
          <div class="text-regular">Pre-trained models leverage vast libraries of predefined labels.</div>
        </td>
        <td></td>
        <td class="check-mark">
          <img src="../../../../assets/images/features/checkmark.svg" alt="">
        </td>
      </tr>
      <tr>
        <td>
          <div class="text-medium">Classify images using custom labels</div>
          <div class="text-regular">Train models to classify images via labels you choose.</div>
        </td>
        <td class="check-mark">
          <img src="../../../../assets/images/features/checkmark.svg" alt="">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div class="text-medium">Use Google’s data labeling service</div>
          <div class="text-regular">Our team can help annotate your images, videos, and text.</div>
        </td>
        <td class="check-mark">
          <img src="../../../../assets/images/features/checkmark.svg" alt="">
        </td>
        <td class="check-mark">
          <img src="../../../../assets/images/features/checkmark.svg" alt="">
        </td>
      </tr>
      <tr class="row-sub-head">
        <th colspan="3">Deploy at the edge</th>
      </tr>
      <tr>
        <td>
          <div class="text-medium">Deploy machine learning models at the edge</div>
          <div class="text-regular">Deploy low-latency, high accuracy models optimized for edge devices.</div>
        </td>
        <td class="check-mark">
          <img src="../../../../assets/images/features/checkmark.svg" alt="">
        </td>
        <td class="check-mark">
          <div class="text-regular">Integrate with <a href="#" class="text-link">ML Kit</a></div>
        </td>
      </tr>
      <tr class="row-sub-head">
        <th colspan="3">Additional features</th>
      </tr>
      <tr>
        <td>
          <div class="text-medium">Detect objects</div>
          <div class="text-regular">Detect objects, where they are, and how many.</div>
        </td>
        <td class="check-mark">
          <img src="../../../../assets/images/features/checkmark.svg" alt="">
        </td>
        <td class="check-mark">
          <img src="../../../../assets/images/features/checkmark.svg" alt="">
        </td>
      </tr>
      <tr>
        <td>
          <div class="text-medium">Enable vision product search</div>
          <div class="text-regular">Compare photos to images in your product catalog, and return a ranked list of
            similar items.
          </div>
        </td>
        <td></td>
        <td class="check-mark">
          <img src="../../../../assets/images/features/checkmark.svg" alt="">
        </td>
      </tr>
      <tr>
        <td>
          <div class="text-medium">Detect printed and handwritten text</div>
          <div class="text-regular">Use <a hr="#" class="text-link">OCR</a> and automatically identify language.</div>
        </td>
        <td></td>
        <td class="check-mark">
          <img src="../../../../assets/images/features/checkmark.svg" alt="">
        </td>
      </tr>
      <tr>
        <td>
          <div class="text-medium">Detect faces</div>
          <div class="text-regular"><a hr="#" class="text-link">Detect faces</a> and facial attributes. (Face
            recognition not supported.)
          </div>
        </td>
        <td></td>
        <td class="check-mark">
          <img src="../../../../assets/images/features/checkmark.svg" alt="">
        </td>
      </tr>
      <tr>
        <td>
          <div class="text-medium">Identify popular places and product logos</div>
          <div class="text-regular">Automatically identify well-known <a hr="#" class="text-link">landmarks</a> and
            product <a hr="#" class="text-link">logos.</a></div>
        </td>
        <td></td>
        <td class="check-mark">
          <img src="../../../../assets/images/features/checkmark.svg" alt="">
        </td>
      </tr>
      <tr>
        <td>
          <div class="text-medium">Assign general image attributes</div>
          <div class="text-regular">Detect <a hr="#" class="text-link">general attributes</a>  and appropriate <a hr="#" class="text-link">crop hints.</a></div>
        </td>
        <td></td>
        <td class="check-mark">
          <img src="../../../../assets/images/features/checkmark.svg" alt="">
        </td>
      </tr>
      <tr>
        <td>
          <div class="text-medium">Detect web entities and pages</div>
          <div class="text-regular">Find news events, logos, and <a hr="#" class="text-link">similar images on the web.</a></div>
        </td>
        <td></td>
        <td class="check-mark">
          <img src="../../../../assets/images/features/checkmark.svg" alt="">
        </td>
      </tr>
      <tr>
        <td>
          <div class="text-medium">Moderate content</div>
          <div class="text-regular"><a hr="#" class="text-link">Detect explicit content</a> (adult, violent, etc.) within images.</div>
        </td>
        <td></td>
        <td class="check-mark">
          <img src="../../../../assets/images/features/checkmark.svg" alt="">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
