<div class="menu-pricing-component">
  <div class="menu-dropdown-wrapper">
    <div class="dropdown-menu-column column-2 border-right decoration">
      <div class="menu-column-content">
        <h3>Do more for less with<br>
          Google Cloud
        </h3>
        <p class="mb-40">Our customer-friendly pricing means more overall value to your business.</p>
        <a href="#" class="btn btn-white">Contact sales</a>
      </div>
    </div>

    <div class="dropdown-menu-column border-right">
      <div class="menu-list-content">
        <p class="menu-list-title">
          Google Cloud Platform
        </p>
        <ul class="menu-item-ul-parent">
          <li class="menu-item-li-parent">
            <a href="#">Choosing Google Cloud</a>
            <p class="menu-item-desc">
              Reasons why people choose us
            </p>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Trust and security</a>
            <p class="menu-item-desc">
              Keep your data secure and compliant
            </p>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Open cloud</a>
            <p class="menu-item-desc">
              Scale with open, flexible technology
            </p>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Customers and case studies</a>
            <p class="menu-item-desc">
              Learn how businesses use Google Cloud
            </p>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Analyst reports</a>
            <p class="menu-item-desc">
              See how Google Cloud ranks
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="dropdown-menu-column">
      <div class="menu-list-content">
        <p class="menu-list-title">
          More Cloud Products
        </p>
        <ul class="menu-item-ul-parent">
          <li class="menu-item-li-parent">
            <a href="#">Data centers and network</a>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Partners</a>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Google Cloud Blog</a>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Events</a>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Partners</a>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Google Cloud Blog</a>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Events</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
