<div class="header-mobile">
  <div class="header-mobile-content">
    <div class="menu-mobile-left">
      <button class="btn-nav">
        <div class="bar arrow-top-r"></div>
        <div class="bar arrow-middle-r"></div>
        <div class="bar arrow-bottom-r"></div>
      </button>
      <div class="mobile-logo">
        <img src="../../../../assets/images/cloud-logo.svg" alt="">
      </div>
    </div>
    <div class="menu-mobile-right">
      <div class="btn-search">
        <i class="material-icons">
          search
        </i>
      </div>
      <div class="btn-sign-up">
        <a href="#">Sign up</a>
      </div>
    </div>
    
  </div>
  <div class="header-mobile-bottom">
    <a href="#" class="btn btn-white mr-20">Contact sales</a>
    <a href="#" class="btn btn-main">Try free</a>
  </div>
  <div class="nav-container hidden hideNav">
    <ul class="nav-list">
      <h1>Updating...</h1>
    </ul>
  </div>
</div>
