<div class="menu-why-google-component">
  <div class="menu-dropdown-wrapper">
    <div class="dropdown-menu-column column-2 border-right decoration">
      <div class="menu-column-content">
        <h3>Groundbreaking solutions<br>
          Transformative know-how
        </h3>
        <p>Whether your business is early in its journey or well on its way to digital transformation, Google Cloud's
          solutions and technologies help chart a path to success.</p>
        <a href="#">Learn more
          <i class="material-icons">
            arrow_forward
          </i>
        </a>
      </div>
    </div>

    <div class="dropdown-menu-column">
      <div class="menu-list-content">
        <p class="menu-list-title">
          Why Google Cloud
        </p>
        <ul class="menu-item-ul-parent">
          <li class="menu-item-li-parent">
            <a href="#">Choosing Google Cloud</a>
            <p class="menu-item-desc">
              Reasons why people choose us
            </p>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Trust and security</a>
            <p class="menu-item-desc">
              Keep your data secure and compliant
            </p>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Open cloud</a>
            <p class="menu-item-desc">
              Scale with open, flexible technology
            </p>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Customers and case studies</a>
            <p class="menu-item-desc">
              Learn how businesses use Google Cloud
            </p>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Analyst reports</a>
            <p class="menu-item-desc">
              See how Google Cloud ranks
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="dropdown-menu-column">
      <div class="menu-list-content">
        <ul class="menu-item-ul-parent mt-75">
          <li class="menu-item-li-parent">
            <a href="#">Data centers and network</a>
            <p class="menu-item-desc">
              Build on the same infrastructure Google uses
            </p>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Partners</a>
            <p class="menu-item-desc">
              Tap into our global ecosystem of cloud experts
            </p>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Google Cloud Blog</a>
            <p class="menu-item-desc">
              Read the latest stories and product updates
            </p>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Events</a>
            <p class="menu-item-desc">
              Join events and learn more about Google Cloud
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
