<div class="sidebar-block" id="sidebarMenu">
  <div class="sidebar-heading desktop">Vision AI</div>
  <div class="sidebar-heading mobile" (click)="sidebarDropdown()">Vision AI
    <i class="material-icons">
      keyboard_arrow_down
    </i>
  </div>
  <div class="sidebar-menu-list" id="sidebarMenuList">
    <a href="#overview">Overview</a>
    <a href="#visonAPIDemo">Vision API demo</a>
    <a href="#benefits">Benefits</a>
    <a href="#features">Features</a>
    <a href="#customers">Customers</a>
    <a href="#useCases">Use cases</a>
    <a href="#pricing">Pricing</a>
    <a href="#resources">Resources</a>
    <a href="#training">Training</a>
    <a href="#getStarted">Get started</a>
  </div>
</div>
