<div class="pricing-component section-border page-section">
  <div class="component-title">
    <h2 id="pricing">Vision API pricing</h2>
    <p class="component-desc">For more detailed pricing information, please view the <a href="#" class="text-link">pricing
      guide.</a></p>
  </div>
  <div class="pricing-table">
    <table>
      <thead>
      <tr></tr>
      <tr>
        <td></td>
        <td colspan="3" class="text-center">
          PRICE PER 1,000 UNITS, BY MONTHLY USAGE
        </td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>FEATURE</td>
        <td>1–1,000 UNITS/MONTH</td>
        <td>1001–5,000,000 UNITS/MONTH</td>
        <td>5,000,001–20,000,000 UNITS/MONTH</td>
      </tr>
      <tr>
        <td>Label detection</td>
        <td>Free</td>
        <td>$1.50</td>
        <td>$1.00</td>
      </tr>
      <tr>
        <td>Text detection</td>
        <td>Free</td>
        <td>$1.50</td>
        <td>$0.60</td>
      </tr>
      <tr>
        <td>Safe search (explicit content) detection</td>
        <td>Free</td>
        <td>Free with label detection, or $1.50</td>
        <td>Free with label detection, or $0.60</td>
      </tr>
      <tr>
        <td>Facial detection</td>
        <td>Free</td>
        <td>$1.50</td>
        <td>$0.60</td>
      </tr>
      <tr>
        <td>Landmark detection</td>
        <td>Free</td>
        <td>$1.50</td>
        <td>$0.60</td>
      </tr>
      <tr>
        <td>Logo detection</td>
        <td>Free</td>
        <td>$1.50</td>
        <td>$0.60</td>
      </tr>
      <tr>
        <td>Image properties</td>
        <td>Free</td>
        <td>$1.50</td>
        <td>$0.60</td>
      </tr>
      <tr>
        <td>Crop hints</td>
        <td>Free</td>
        <td>Free with label detection, or $1.50</td>
        <td>Free with label detection, or $0.60</td>
      </tr>
      <tr>
        <td>Web detection</td>
        <td>Free</td>
        <td>$3.50</td>
        <td><a href="#" class="text-link">Contact Google for more information</a></td>
      </tr>
      <tr>
        <td>Document text detection</td>
        <td>Free</td>
        <td>$1.50</td>
        <td>$0.60</td>
      </tr>
      <tr>
        <td>Object localizer</td>
        <td>Free</td>
        <td>$2.25</td>
        <td>$1.50</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="component-title">
    <h2>Vision product search pricing</h2>
    <p class="component-desc">Vision Product Search pricing is based on daily usage for queries, and monthly usage for
      image management. Charges are incurred when you query a model, or maintain an image catalog via storage.</p>
  </div>
  <div class="pricing-table">
    <table>
      <thead>
      <tr></tr>
      <tr>
        <td></td>
        <td colspan="3" class="text-center">
          PRICE PER 1,000 UNITS, BY MONTHLY USAGE
        </td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td></td>
        <td>0–1000 images/month</td>
        <td>1001–5,000,000 images/month</td>
        <td>5,000,001–20,000,000 images/month</td>
      </tr>
      <tr>
        <td>Prediction</td>
        <td>Free</td>
        <td>$4.50</td>
        <td>$1.80</td>
      </tr>
      <tr>
        <td>Storage</td>
        <td>Free</td>
        <td>$0.10</td>
        <td>$0.10</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="table-desc">
    <p><span class="text-bold">Example: </span>If you apply face detection and label detection to the same image, each
      feature will
      be billed individually. You would be billed for 1 unit of label detection and 1 unit of face detection, at the
      price dictated by your monthly unit volume.
    </p>
    <p><span class="text-bold">Limits: </span>If you anticipate needing more than 20 million units per month for your
      project, please <a href="#" class="text-link">contact a sales representative</a> to discuss whether discount
      pricing may be available.
    </p>
    <p>If you pay in a currency other than USD, the prices listed in your currency on <a href="#" class="text-link">Cloud
      Platform SKUs</a> apply.</p>
  </div>
  <div class="component-title">
    <h2>AutoML Vision pricing</h2>
    <p class="component-desc">AutoML Vision pricing is based on training and prediction. The accuracy of your model
      generally depends on how long you allow it to train and the quality of your training dataset. You will pay only
      for the compute hours used. Object detection pricing is based on underlying compute and storage used to train and
      perform predictions with your models.</p>
  </div>
  <div class="pricing-table">
    <table>
      <thead>
      <tr></tr>
      <tr>
        <td>CLOUD MODELS</td>
        <td>FREE</td>
        <td>PAID</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-bold">
          Image Classification
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Training</td>
        <td>1 hour of free training per model for the first 10 models each month</td>
        <td>Subsequent training hours are $20.00 per hour</td>
      </tr>
      <tr>
        <td>Prediction</td>
        <td>First 1,000 images are free</td>
        <td>For 1,001–5,000,000 images, the price is $3 per 1,000 images*</td>
      </tr>
      <tr>
        <td class="text-bold">
          Object Detection
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Training</td>
        <td>First 40 node hours are free</td>
        <td>$3.15 per node hourhour</td>
      </tr>
      <tr>
        <td>Deployment and Prediction</td>
        <td>First 40 node hours are free</td>
        <td>$1.82 per node hour**</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="table-desc-small">
    <p><a href="#" class="text-link">*Contact us</a> for pricing above 5,000,000 images.</p>
    <p>**Please note that the deployment pricing applies even when predictions are not being served, as long as the
      model is deployed. For more detailed information, please view the <a href="#" class="text-link">Pricing Guide.</a>
    </p>
  </div>
  <div class="component-title">
    <h2>AutoML Vision Edge pricing</h2>
    <p class="component-desc">AutoML Vision Edge pricing is based on the underlying compute and storage used to train
      models. Trained models can be exported and downloaded for free.</p>
  </div>
  <div class="pricing-table">
    <table>
      <thead>
      <tr></tr>
      <tr>
        <td>EDGE MODELS</td>
        <td>FREE</td>
        <td>PAID</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-bold">
          Image Classification
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Training</td>
        <td>3 hours of free training per month</td>
        <td>Subsequent training hours are $4.95 per hour</td>
      </tr>
      <tr>
        <td>Exporting models to edge devices</td>
        <td>Free</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
