<div class="menu-products-component">
  <div class="menu-dropdown-wrapper">
    <div class="dropdown-menu-column">
      <div class="menu-list-content">
        <p class="menu-list-title">
          Google Cloud Platform
        </p>
        <ul class="menu-item-ul-parent">
          <li class="menu-item-li-parent">
            <a href="#">AI and machine learning</a>
            <ul>
              <li>
                <a href="#">Text-to-Speech</a>
              </li>
              <li>
                <a href="#">Vision</a>
              </li>
              <li>
                <a href="#">Translation</a>
              </li>
              <li>
                <a href="#">More</a>
              </li>
            </ul>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">API management</a>
            <ul>
              <li>
                <a href="#">Apigee API Platform</a>
              </li>
              <li>
                <a href="#">Cloud Endpoints</a>
              </li>
              <li>
                <a href="#">More</a>
              </li>
            </ul>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Compute</a>
            <ul>
              <li>
                <a href="#">Compute Engine</a>
              </li>
              <li>
                <a href="#">App Engine</a>
              </li>
              <li>
                <a href="#">More</a>
              </li>
            </ul>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Data analytics</a>
            <ul>
              <li>
                <a href="#">BigQuery</a>
              </li>
              <li>
                <a href="#">Cloud Datalab</a>
              </li>
              <li>
                <a href="#">More</a>
              </li>
            </ul>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Databases</a>
            <ul>
              <li>
                <a href="#">Cloud SQL</a>
              </li>
              <li>
                <a href="#">Cloud Datastore</a>
              </li>
              <li>
                <a href="#">More</a>
              </li>
            </ul>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Developer Tools</a>
            <ul>
              <li>
                <a href="#">Container Registry</a>
              </li>
              <li>
                <a href="#">Cloud SDK</a>
              </li>
              <li>
                <a href="#">More</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="dropdown-menu-column border-right">
      <div class="menu-list-content">
        <ul class="menu-item-ul-parent pt-75">
          <li class="menu-item-li-parent">
            <a href="#">AI and machine learning</a>
            <ul>
              <li>
                <a href="#">Text-to-Speech</a>
              </li>
              <li>
                <a href="#">Vision</a>
              </li>
              <li>
                <a href="#">Translation</a>
              </li>
              <li>
                <a href="#">More</a>
              </li>
            </ul>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">API management</a>
            <ul>
              <li>
                <a href="#">Apigee API Platform</a>
              </li>
              <li>
                <a href="#">Cloud Endpoints</a>
              </li>
              <li>
                <a href="#">More</a>
              </li>
            </ul>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Compute</a>
            <ul>
              <li>
                <a href="#">Compute Engine</a>
              </li>
              <li>
                <a href="#">App Engine</a>
              </li>
              <li>
                <a href="#">More</a>
              </li>
            </ul>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Data analytics</a>
            <ul>
              <li>
                <a href="#">BigQuery</a>
              </li>
              <li>
                <a href="#">Cloud Datalab</a>
              </li>
              <li>
                <a href="#">More</a>
              </li>
            </ul>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Databases</a>
            <ul>
              <li>
                <a href="#">Cloud SQL</a>
              </li>
              <li>
                <a href="#">Cloud Datastore</a>
              </li>
              <li>
                <a href="#">More</a>
              </li>
            </ul>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Developer Tools</a>
            <ul>
              <li>
                <a href="#">Container Registry</a>
              </li>
              <li>
                <a href="#">Cloud SDK</a>
              </li>
              <li>
                <a href="#">More</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="dropdown-menu-column column-2 decoration">
      <div class="menu-list-content">
        <p class="menu-list-title">
          More Cloud Products
        </p>
        <ul class="menu-item-ul-parent">
          <li class="menu-item-li-parent">
            <a href="#">Infrastructure modernization</a>
            <p class="menu-item-desc">
              Modernize enterprise workloads
            </p>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Data management</a>
            <p class="menu-item-desc">
              Manage data securely, reliably and at scale
            </p>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Application development</a>
            <p class="menu-item-desc">
              Build and run apps on an open, secure cloud
            </p>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Smart business analytics and AI</a>
            <p class="menu-item-desc">
              Generate insights with analytics, ML, and AI
            </p>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Productivity and work transformation</a>
            <p class="menu-item-desc">
              Transform how people work together
            </p>
          </li>
          <li class="menu-item-li-parent">
            <a href="#">Productivity and work transformation</a>
            <p class="menu-item-desc">
              Transform how people work together
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
