$main-color: #1a73e8;
$btn-main-color: #4285f4;
$btn-hover-color: #174ea6;
$btn-white-hover: #f8fafe;
$border-btn-color: #dfdfdf;
$border-color: #dadce0;
$heading-color: #202124;
$text-color: #5f6368;
