@mixin background-size($param) {
  -webkit-background-size: $param;
  -moz-background-size: $param;
  -o-background-size: $param;
  background-size: $param;
}

@mixin border-radius($param) {
  -webkit-border-radius: $param;
  -moz-border-radius: $param;
  border-radius: $param;
}

@mixin box-shadow($param...) {
  -webkit-box-shadow: $param;
  -moz-box-shadow: $param;
  box-shadow: $param;
}

@mixin transform-origin($param) {
  -webkit-transform-origin: $param;
  -moz-transform-origin: $param;
  -ms-transform-origin: $param;
  -o-transform-origin: $param;
  transform-origin: $param;
}

@mixin transform($param...) {
  -webkit-transform: $param;
  -moz-transform: $param;
  -o-transform: $param;
  transform: $param;
}

@mixin transition($param...) {
  -webkit-transition: $param;
  -moz-transition: $param;
  -o-transition: $param;
  transition: $param;
}

@mixin appearance($param) {
  -webkit-appearance: $param;
  -moz-appearance: $param;
  appearance: $param;
}
