@import "color";

p {
  font-family: 'Roboto', sans-serif;
  color: $text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 16px 0;
  padding: 0;
}

.text-default {
  color: $text-color !important;
}

.text-w {
  color: #fff !important;
}

.text-link {
  color: $main-color !important;
  text-decoration: none !important;
  cursor: pointer !important;

  &:hover {
    text-decoration: underline !important;
  }
}

.text-center {
  text-align: center;
  margin: 0 auto;
}
.text-r {
  text-align: right !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-bold {
  font-weight: bold !important;
}

.text-medium {
  font-weight: 500 !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}
.text-regular {
  font-weight: normal !important;
}

.small-text {
  font-size: 12px;
}
