.footer-bottom {
  width: 100%;
  background-color: #5f6368;

  .footer-bottom-block {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 24px;

    @media(max-width: 1079px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .footer-bottom-left {
      display: flex;
      justify-content: center;
      align-items: center;

      .dropdown-language {
        margin-right: 36px;
        position: relative;

        .language-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Roboto', sans-serif;
          font-weight: 600;
          font-size: 14px;
          text-transform: uppercase;
          background: #f8f9fa;
          border-radius: 4px;
          color: #000;
          letter-spacing: .5px;
          padding: 11px 40px 11px 24px;
          width: max-content;
          height: auto;
          cursor: pointer;

          &:before {
            content: 'arrow_drop_down';
            font: normal normal normal 24px/1 'Material Icons';
            -webkit-font-feature-settings: 'liga';
            font-feature-settings: 'liga';
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            word-wrap: normal;
            font-size: 18px;
            position: absolute;
            text-transform: lowercase;;
            right: 20px;
          }
        }
      }

      .footer-bottom-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        a {
          color: #dadce0;
          font-size: 14px;
          font-weight: 400;
          text-decoration: none;

          &:before {
            content: '|';
            margin: 0 8px;
          }

          &:first-child:before {
            content: none;
          }
        }
      }

      @media(max-width: 1079px) {
        margin-bottom: 10px;
      }
    }

    .footer-bottom-right {
      display: flex;
      justify-content: center;
      align-items: center;

      .sign-up-text {
        color: #dadce0;
        font-size: 14px;
        font-weight: 400;
        margin-right: 36px;
      }

      @media(max-width: 1079px) {
        .sign-up-text {
          order: 2;
          margin-right: 0;
          margin-left: 36px;
        }
      }
    }
  }
}
