<div class="footer-bottom">
  <div class="footer-bottom-block">
    <div class="footer-bottom-left">
      <div class="dropdown-language">
        <div class="language-btn">Language</div>
      </div>
      <div class="footer-bottom-menu">
        <a href="#">About google</a>
        <a href="#">Privacy</a>
        <a href="#">Site Terms</a>
        <a href="#">Google Cloud Terms</a>
      </div>
    </div>
    <div class="footer-bottom-right">
      <div class="sign-up-text">
        Sign up for the Google Cloud newsletter
      </div>
      <a href="#" class="btn btn-main">Subscribe</a>
    </div>
  </div>
</div>
